.linkcard {
    background-color: var(--vp-c-bg-soft);
    border-radius: 8px;
    padding: 8px 16px 8px 8px;
    transition: color 0.5s, background-color 0.5s;
    margin-top: 15px;
}
.linkcard:hover { background-color: var(--vp-c-yellow-soft); }
.linkcard a { display: flex; align-items: center; }
.linkcard .description {
    flex: 1; font-weight: 500; font-size: 16px; line-height: 25px;
    color: var(--vp-c-text-1); margin: 0 0 0 16px; transition: color 0.5s;
}
.linkcard .description span { font-size: 14px; }
.linkcard .logo img { width: 80px; object-fit: contain; }
.vp-doc a { text-decoration: none; }
