DISCOURSE_HOSTNAME=forum.nvhtest.cn
DISCOURSE_DEVELOPER_EMAILS=admin@nvhtest.cn
DISCOURSE_SMTP_ADDRESS=smtp.example.com
DISCOURSE_SMTP_PORT=587
DISCOURSE_SMTP_USER_NAME=postmaster@example.com
DISCOURSE_SMTP_PASSWORD=replace-me-outside-git
DISCOURSE_SMTP_ENABLE_START_TLS=true
